// Colors-primary
$Bright-Blue     : hsl(220, 98%, 61%);
$Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
;
// Colors-Light-Theme
$Very-Light-Gray-LT         : hsl(0, 0%, 98%);
$Very-Light-Grayish-Blue-LT : hsl(236, 33%, 92%);
$Light-Grayish-Blue-LT      : hsl(233, 11%, 84%);
$Dark-Grayish-Blue-LT       : hsl(236, 9%, 61%);
$Very-Dark-Grayish-Blue-LT  : hsl(235, 19%, 35%);


//Colors-Dark-Theme 
$Very-Dark-Blue-DT             : hsl(235, 21%, 11%);
$Very-Dark-Desaturated-Blue-DT : hsl(235, 24%, 19%);
$Light-Grayish-Blue-DT         : hsl(234, 39%, 85%);
$Light-Grayish-Blue-hover-DT   : hsl(236, 33%, 92%);
$Dark-Grayish-Blue-DT          : hsl(234, 11%, 52%);
$Very-Dark-Grayish-Blue-DT     : hsl(233, 14%, 35%);
$Very-Dark-Grayish-Blue-DT     : hsl(237, 14%, 26%);


//Typography 
$size    : 1.8rem;
$Family  : "Josefin Sans";
$Weight1 : 400;
$Weight2 : 700;