@import './variables';
@import './header';
@import './main';
@import './footer';

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

html {
    font-size  : 62.5%;
    font-family: $Family;
}

body {
    display         : flex;
    flex-direction  : column;
    gap             : 20px;
    background      : url('../images/bg-mobile-light.jpg') no-repeat;
    background-size : 100% 40%;
    background-color:$Very-Light-Grayish-Blue-LT;
    padding         : 7vh 7vw;
}

.dark-theme {
    background      : url('../images/bg-mobile-dark.jpg') no-repeat;
    background-color:$Very-Dark-Blue-DT;
    background-size : 100% 40%;


    header{
        span{
            background: url('..//images/icon-sun.svg') no-repeat;
        }
    }
    main{
        section{
            background-color   : $Very-Dark-Grayish-Blue-DT;
        }
    }
}